# Solana Smart Traders - Pipeline Status Dashboard

This notebook shows the status of each DAG task in execution order with unique indices and processing metrics.

## DAG Task Flow
```
bronze_tokens → silver_tokens → bronze_whales → silver_whales → bronze_transactions → silver_wallet_pnl → smart_traders
```

In [17]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
from datetime import datetime
import json
import warnings
warnings.filterwarnings('ignore')

# Database connection with multiple fallback options
def get_database_connection():
    """Try multiple database connection options"""
    connection_options = [
        "postgresql://trader:trader_password@solana_postgres:5432/solana-smart-traders",
        "postgresql://trader:trader_password@postgres:5432/solana-smart-traders", 
        "postgresql://trader:trader_password@host.docker.internal:5432/solana-smart-traders",
        "postgresql://trader:trader_password@172.17.0.1:5432/solana-smart-traders",
        "postgresql://trader:trader_password@localhost:5432/solana-smart-traders"
    ]
    
    for db_url in connection_options:
        try:
            engine = create_engine(db_url)
            # Test the connection
            with engine.connect() as conn:
                conn.execute(text("SELECT 1"))
            print(f"✅ Database connection successful using: {db_url}")
            return engine
        except Exception as e:
            print(f"❌ Failed to connect with {db_url}: {e}")
            continue
    
    raise Exception("Could not establish database connection with any of the available options")

# Establish database connection
engine = get_database_connection()

def query_table(query, description=""):
    """Execute a query and return results as DataFrame"""
    try:
        df = pd.read_sql_query(query, engine)
        if description:
            print(f"\n{description}")
            print("=" * len(description))
        print(f"Rows: {len(df)}")
        return df
    except Exception as e:
        print(f"Error executing query: {e}")
        return pd.DataFrame()

def show_table_info(schema, table_name):
    """Show basic info about a table"""
    query = f"""
    SELECT 
        column_name,
        data_type,
        is_nullable,
        column_default
    FROM information_schema.columns 
    WHERE table_schema = '{schema}' AND table_name = '{table_name}'
    ORDER BY ordinal_position;
    """
    return query_table(query, f"Schema for {schema}.{table_name}")

print("Database connection established!")

✅ Database connection successful using: postgresql://trader:trader_password@solana_postgres:5432/solana-smart-traders
Database connection established!

In [18]:
import pandas as pd
from sqlalchemy import create_engine, text
import warnings
warnings.filterwarnings('ignore')

# Database connection
DATABASE_URL = "postgresql://trader:trader_password@solana_postgres:5432/solana-smart-traders"
engine = create_engine(DATABASE_URL)

# Test connection
with engine.connect() as conn:
    result = conn.execute(text("SELECT 1"))
    print("✅ Database connection successful!")

def query_table(query, title=""):
    """Execute query and display results"""
    try:
        df = pd.read_sql_query(query, engine)
        if title:
            print(f"\n{title}")
            print("=" * len(title))
        display(df)
        return df
    except Exception as e:
        print(f"❌ Error: {e}")
        return pd.DataFrame()

print("Ready to analyze pipeline status!")

✅ Database connection successful!
Ready to analyze pipeline status!

## 1. Bronze Tokens (bronze_tokens)
**Task**: Fetch trending tokens from BirdEye API

In [26]:
query_table("""
SELECT 
    COUNT(token_address) as total_tokens,
    COUNT(DISTINCT token_address) as unique_tokens,
    COUNT(CASE WHEN silver_processed = true THEN 1 END) as processed_for_silver,
    COUNT(CASE WHEN silver_processed = false THEN 1 END) as pending_for_silver,
    MIN(ingested_at) as first_ingested,
    MAX(ingested_at) as last_ingested
FROM bronze.bronze_tokens;
""", "Bronze Tokens - Status")

Bronze Tokens - Status
======================

,total_tokens,unique_tokens,processed_for_silver,pending_for_silver,first_ingested,last_ingested
0,56,56,56,0,2025-07-08 02:51:59.800836,2025-07-09 02:00:03.694169

,total_tokens,unique_tokens,processed_for_silver,pending_for_silver,first_ingested,last_ingested
0,56,56,56,0,2025-07-08 02:51:59.800836,2025-07-09 02:00:03.694169

## 2. Silver Tokens (silver_tokens)
**Task**: Select top tokens based on scoring criteria

In [25]:
query_table("""
SELECT 
    COUNT(token_address) as total_tokens,
    COUNT(DISTINCT token_address) as unique_tokens_selected,
    COUNT(CASE WHEN whales_processed = true THEN 1 END) as processed_for_whales,
    COUNT(CASE WHEN whales_processed = false THEN 1 END) as pending_for_whales,
    MIN(selected_at) as first_selected,
    MAX(selected_at) as last_selected
FROM silver.silver_tokens;
""", "Silver Tokens - Status")

Silver Tokens - Status
======================

,total_tokens,unique_tokens_selected,processed_for_whales,pending_for_whales,first_selected,last_selected
0,56,56,14,42,2025-07-08 03:09:26.393100,2025-07-09 02:00:04.843288

,total_tokens,unique_tokens_selected,processed_for_whales,pending_for_whales,first_selected,last_selected
0,56,56,14,42,2025-07-08 03:09:26.393100,2025-07-09 02:00:04.843288

## 3. Bronze Whales (bronze_whales)
**Task**: Fetch top holders for selected tokens

In [28]:
query_table("""
SELECT 
    COUNT(token_address) as total_whales,
    COUNT(DISTINCT CONCAT(token_address, ':', wallet_address)) as unique_token_whale_combinations,
    COUNT(DISTINCT wallet_address) as unique_whale_addresses,
    COUNT(DISTINCT token_address) as unique_tokens_with_whales,
    COUNT(CASE WHEN silver_processed = true THEN 1 END) as processed_for_silver,
    COUNT(CASE WHEN silver_processed = false THEN 1 END) as pending_for_silver,
    MIN(fetched_at) as first_fetched,
    MAX(fetched_at) as last_fetched
FROM bronze.bronze_whales;
""", "Bronze Whales - Status")

Bronze Whales - Status
======================

,total_whales,unique_token_whale_combinations,unique_whale_addresses,unique_tokens_with_whales,processed_for_silver,pending_for_silver,first_fetched,last_fetched
0,667,667,544,34,667,0,2025-07-08 03:57:27.196742,2025-07-09 02:00:13.868418

,total_whales,unique_token_whale_combinations,unique_whale_addresses,unique_tokens_with_whales,processed_for_silver,pending_for_silver,first_fetched,last_fetched
0,667,667,544,34,667,0,2025-07-08 03:57:27.196742,2025-07-09 02:00:13.868418

## 4. Silver Whales (silver_whales)
**Task**: Process unique whale addresses across all tokens

In [30]:
query_table("""
SELECT 
    COUNT(wallet_address) as total_whale_addresses,
    COUNT(DISTINCT wallet_address) as unique_whale_addresses,
    COUNT(CASE WHEN transactions_processed = true THEN 1 END) as processed_for_transactions,
    COUNT(CASE WHEN transactions_processed = false THEN 1 END) as pending_for_transactions,
    COUNT(CASE WHEN pnl_processed = true THEN 1 END) as processed_for_pnl,
    COUNT(CASE WHEN pnl_processed = false THEN 1 END) as pending_for_pnl,
    MIN(first_seen_at) as first_seen,
    MAX(last_updated_at) as last_updated
FROM silver.silver_whales;
""", "Silver Whales - Status")

Silver Whales - Status
======================

,total_whale_addresses,unique_whale_addresses,processed_for_transactions,pending_for_transactions,processed_for_pnl,pending_for_pnl,first_seen,last_updated
0,539,539,69,470,6,533,2025-07-08 18:00:16.282549,2025-07-09 00:07:49.777

,total_whale_addresses,unique_whale_addresses,processed_for_transactions,pending_for_transactions,processed_for_pnl,pending_for_pnl,first_seen,last_updated
0,539,539,69,470,6,533,2025-07-08 18:00:16.282549,2025-07-09 00:07:49.777

## 5. Bronze Transactions (bronze_transactions)
**Task**: Fetch transaction history for whales

In [32]:
query_table("""
SELECT 
    COUNT(transaction_hash) as total_transactions,
    COUNT(DISTINCT transaction_hash) as unique_transactions,
    COUNT(DISTINCT wallet_address) as unique_wallets_with_transactions,
    COUNT(DISTINCT base_symbol) as unique_base_tokens,
    COUNT(DISTINCT quote_symbol) as unique_quote_tokens,
    MIN(timestamp) as first_transaction,
    MAX(timestamp) as last_transaction,
    MIN(fetched_at) as first_fetched,
    MAX(fetched_at) as last_fetched
FROM bronze.bronze_transactions;
""", "Bronze Transactions - Status")

Bronze Transactions - Status
============================

,total_transactions,unique_transactions,unique_wallets_with_transactions,unique_base_tokens,unique_quote_tokens,first_transaction,last_transaction,first_fetched,last_fetched
0,1033,1033,37,79,81,2022-11-09 07:17:31,2025-07-08 22:52:48,2025-07-08 17:39:46.123197,2025-07-09 02:00:44.018934

,total_transactions,unique_transactions,unique_wallets_with_transactions,unique_base_tokens,unique_quote_tokens,first_transaction,last_transaction,first_fetched,last_fetched
0,1033,1033,37,79,81,2022-11-09 07:17:31,2025-07-08 22:52:48,2025-07-08 17:39:46.123197,2025-07-09 02:00:44.018934

## 6. Silver Wallet PnL (silver_wallet_pnl)
**Task**: Calculate FIFO-based PnL metrics for wallets

In [35]:
query_table("""
SELECT 
    COUNT(wallet_address) as total_wallets_analyzed,
    COUNT(DISTINCT wallet_address) as unique_wallets_analyzed,
    COUNT(CASE WHEN smart_trader_eligible = true THEN 1 END) as smart_trader_eligible,
    COUNT(CASE WHEN smart_trader_eligible = false THEN 1 END) as not_smart_trader_eligible,
    COUNT(CASE WHEN gold_processed = true THEN 1 END) as processed_for_gold,
    COUNT(CASE WHEN gold_processed = false THEN 1 END) as pending_for_gold,
    MIN(last_calculated_at) as first_calculated,
    MAX(last_calculated_at) as last_calculated
FROM silver.silver_wallet_pnl;
""", "Silver Wallet PnL - Status")

Silver Wallet PnL - Status
==========================

,total_wallets_analyzed,unique_wallets_analyzed,smart_trader_eligible,not_smart_trader_eligible,processed_for_gold,pending_for_gold,first_calculated,last_calculated
0,6,6,6,0,6,0,2025-07-09 00:11:32.863524,2025-07-09 00:12:09.498401

,total_wallets_analyzed,unique_wallets_analyzed,smart_trader_eligible,not_smart_trader_eligible,processed_for_gold,pending_for_gold,first_calculated,last_calculated
0,6,6,6,0,6,0,2025-07-09 00:11:32.863524,2025-07-09 00:12:09.498401

## 7. Smart Traders (smart_traders)
**Task**: Rank eligible traders by performance tiers

In [38]:
query_table("""
SELECT 
    COUNT(wallet_address) as total_smart_traders,
    COUNT(DISTINCT wallet_address) as unique_smart_traders,
    COUNT(CASE WHEN performance_tier = 'ELITE' THEN 1 END) as elite_tier,
    COUNT(CASE WHEN performance_tier = 'STRONG' THEN 1 END) as strong_tier,
    COUNT(CASE WHEN performance_tier = 'PROMISING' THEN 1 END) as promising_tier,
    COUNT(CASE WHEN performance_tier = 'QUALIFIED' THEN 1 END) as qualified_tier,
    MIN(selected_at) as first_selected,
    MAX(last_updated_at) as last_updated
FROM gold.smart_traders;
""", "Smart Traders - Status")

Smart Traders - Status
======================

,total_smart_traders,unique_smart_traders,elite_tier,strong_tier,promising_tier,qualified_tier,first_selected,last_updated
0,6,6,0,1,5,0,2025-07-09 00:11:34.103635,2025-07-09 00:12:10.401694

,total_smart_traders,unique_smart_traders,elite_tier,strong_tier,promising_tier,qualified_tier,first_selected,last_updated
0,6,6,0,1,5,0,2025-07-09 00:11:34.103635,2025-07-09 00:12:10.401694